<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  	<title>PROMEDIO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/css/bootstrap-table.min.css" rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}" />
    <link href="/css/globalstyle.css" rel="stylesheet" th:href="@{/css/globalstyle.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 	<script src="/js/notas.js" th:href="@{/js/notas.js}"></script>
  </head>

<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
       <div class="panel panel-default" id="panel1">
    		<div class="panel-body">
    			<h3>Mantención de trabajos</h3>
    			<p>
    			<div class="btn-group">
                	<button type="button" class="btn btn-primary btn-sm" onclick="javascript:PromedioCursoController('PromedioCurso')">promedio</button>
                	
             	</div>
    			<p>
    			<div class="alert alert-danger" id="msg" hidden="true">
  				</div>
       			<div class="input-group">
   					<span class="input-group-addon">Curso</span>
   					<input id="curso" type="text" class="form-control" name="curso">
 				</div>
 				<p>
 				<div class="input-group">
   					<span class="input-group-addon">Promedio</span>
   					<input id="alumno" type="text" class="form-control" name="promedio">
 				</div>
  		
    </div>
     </div>
      </div>
    
    
    
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<script src="/js/bootstrap-table.min.js" th:href="@{/js/bootstrap-table.min.js}"></script>
</body>

</html>